
{% block cat_form %}
    <style>
        #Expense_category {
            display: flex;
        }
        #Expense_category label{
            text-align: left;
        }
        .lvl-1 {
            margin-left: 10px;
        }
        .lvl-2 {
            margin-left: 20px;
        }
    </style>
    <div id="Expense_category">
    {% for category in form.children %}

        {% set level = 0 %}

        {% if category.vars.attr.attr_lvl is defined %}
            {% set level = category.vars.attr['attr_lvl'] %}
        {% endif %}

        {% if level == 0%}
            {% if not loop.first %}
                </div>
            {% endif %}
            <div><strong>
        {% endif %}

        <div class="lvl-{{ level }}">
            {{ form_widget(category) }}
            {{ form_label(category) }}
        </div>

        {% if level == 0 %}
        </strong>
        {% endif %}

        {% if loop.last %}
            </div>
        {% endif %}
    {% endfor %}
    </div>
{% endblock %}

{% block _Category_parent_widget %}
    {{ block('cat_form') }}
{% endblock %}

{% block _Expense_category_widget %}
    {{ block('cat_form') }}
{% endblock %}