{% extends '@EasyAdmin/page/content.html.twig' %}

{% block head_javascript %}
    {{ parent() }}
    <script src="https://cdn.plot.ly/plotly-1.5.2.min.js"></script>
{% endblock head_javascript %}

{% block content_title %}
    Résultat
{% endblock %}

{% block main %}
    {{ htmlTree|raw }}
    {{ form_start(form) }}
        {{ form_rest(form) }}
    {{ form_end(form) }}

    <table border="1" width="100%">
        <thead>
            <tr>
                <th scope="col">Category</th>
                {% for periode in p %}
                    <th scope="col" colspan="2">
                        {{ periode[0]|date("d/m/Y") }} au {{ periode[1]|date("d/m/Y") }}
                    </th>
                {% endfor %}

            </tr><tr>
                <th scope="col"></th>
                {% for periode in p %}
                    <th scope="col">Débit</th>
                    <th scope="col">Crédit</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for cat in treeAsArray %}
                <tr>
                    <td>{{ cat['name'] }}</td>
                    {% for data in cat['datas'] %}
                        <td>{{ data['totalDebit'] }}</td>
                        <td>{{ data['totalCredit'] }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div id="tester"></div>

    <script>
        var dataTest = {{ test|raw }};

        var layout = {barmode: 'group'};

        Plotly.newPlot('tester', dataTest, layout);
    </script>
{% endblock %}